In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# from google.colab import drive
# drive.mount('/gdrive')

Mounted at /gdrive

## Airline Passenger Satisfaction
**What factors lead to customer satisfaction for an Airline?**  
https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction

### Context
This dataset contains an airline passenger satisfaction survey. What factors are highly correlated to a satisfied (or dissatisfied) passenger? Can you predict passenger satisfaction?

### Content
*Gender*: Gender of the passengers (Female, Male)  
*Customer Type*: The customer type (Loyal customer, disloyal customer)  
*Age*: The actual age of the passengers  
*Type of Travel*: Purpose of the flight of the passengers (Personal Travel, Business Travel)  
*Class*: Travel class in the plane of the passengers (Business, Eco, Eco Plus)  
*Flight distance*: The flight distance of this journey  
*Inflight wifi service*: Satisfaction level of the inflight wifi service (0:Not Applicable;1-5)  
*Departure/Arrival time convenient*: Satisfaction level of Departure/Arrival time convenient  
*Ease of Online booking*: Satisfaction level of online booking  
*Gate location*: Satisfaction level of Gate location  
*Food and drink*: Satisfaction level of Food and drink  
*Online boarding*: Satisfaction level of online boarding  
*Seat comfort*: Satisfaction level of Seat comfort  
*Inflight entertainment*: Satisfaction level of inflight entertainment  
*On-board service*: Satisfaction level of On-board service  
*Leg room service*: Satisfaction level of Leg room service  
*Baggage handling*: Satisfaction level of baggage handling  
*Check-in service*: Satisfaction level of Check-in service  
*Inflight service*: Satisfaction level of inflight service  
*Cleanliness*: Satisfaction level of Cleanliness  
*Departure Delay in Minutes*: Minutes delayed when departure  
*Arrival Delay in Minutes*: Minutes delayed when Arrival  
*Satisfaction*: Airline satisfaction level(Satisfaction, neutral or dissatisfaction)

In [6]:
# train_df = pd.read_csv("/gdrive/My Drive/Colab Notebooks/ML/Course project/datasets/train.csv", 
#                        index_col=0)
train_df = pd.read_csv("./datasets/train.csv", index_col=0)
train_df.head()

       id  Gender  ... Arrival Delay in Minutes             satisfaction
0   70172    Male  ...                     18.0  neutral or dissatisfied
1    5047    Male  ...                      6.0  neutral or dissatisfied
2  110028  Female  ...                      0.0                satisfied
3   24026  Female  ...                      9.0  neutral or dissatisfied
4  119299    Male  ...                      0.0                satisfied

[5 rows x 24 columns]

In [7]:
train_df.tail()

           id  Gender  ... Arrival Delay in Minutes             satisfaction
103899  94171  Female  ...                      0.0  neutral or dissatisfied
103900  73097    Male  ...                      0.0                satisfied
103901  68825    Male  ...                     14.0  neutral or dissatisfied
103902  54173  Female  ...                      0.0  neutral or dissatisfied
103903  62567    Male  ...                      0.0  neutral or dissatisfied

[5 rows x 24 columns]

In [8]:
train_df.describe()

                  id  ...  Arrival Delay in Minutes
count  103904.000000  ...             103594.000000
mean    64924.210502  ...                 15.178678
std     37463.812252  ...                 38.698682
min         1.000000  ...                  0.000000
25%     32533.750000  ...                  0.000000
50%     64856.500000  ...                  0.000000
75%     97368.250000  ...                 13.000000
max    129880.000000  ...               1584.000000

[8 rows x 19 columns]

In [44]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103904 non-null  int64
 1   Gender                             103904 non-null  object
 2   Customer Type                      103904 non-null  object
 3   Age                                103904 non-null  int64
 4   Type of Travel                     103904 non-null  object
 5   Class                              103904 non-null  object
 6   Flight Distance                    103904 non-null  int64
 7   Inflight wifi service              103904 non-null  int64
 8   Departure/Arrival time convenient  103904 non-null  int64
 9   Ease of Online booking             103904 non-null  int64
 10  Gate location                      103904 non-null  int64
 11  Food and drink                     103904 non-null  int64
 12  Online boarding                    103904 non-null  int64
 13  Seat comfort                       103904 non-null  int64
 14  Inflight entertainment             103904 non-null  int64
 15  On-board service                   103904 non-null  int64
 16  Leg room service                   103904 non-null  int64
 17  Baggage handling                   103904 non-null  int64
 18  Checkin service                    103904 non-null  int64
 19  Inflight service                   103904 non-null  int64
 20  Cleanliness                        103904 non-null  int64
 21  Departure Delay in Minutes         103904 non-null  int64
 22  Arrival Delay in Minutes           103594 non-null  float64
 23  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 24.8+ MB

Заполняю пропущенные значения признака "Arrival Delay in Minutes" модой

In [12]:
train_df['Arrival Delay in Minutes'].isna().value_counts()

False    103594
True        310
Name: Arrival Delay in Minutes, dtype: int64

In [45]:
mode_arrival_dellay = train_df['Arrival Delay in Minutes'].mode()
train_df.fillna(value=mode_arrival_dellay, inplace=True)

In [49]:
train_df['Arrival Delay in Minutes'].isna().value_counts()

False    103594
True        310
Name: Arrival Delay in Minutes, dtype: int64

In [48]:
mode_arrival_dellay = train_df['Arrival Delay in Minutes'].mode()
train_df.loc[train_df['Arrival Delay in Minutes'].isna(), 'Arrival Delay in Minutes'] = mode_arrival_dellay

In [55]:
train_df.iloc[213, 22] = mode_arrival_dellay

ValueError: ignored

In [51]:
train_df.loc[train_df['Arrival Delay in Minutes'].isna()]

            id  Gender  ... Arrival Delay in Minutes             satisfaction
213      49608  Female  ...                      NaN                satisfied
1124     73442    Male  ...                      NaN  neutral or dissatisfied
1529     71178    Male  ...                      NaN  neutral or dissatisfied
2004     72940  Female  ...                      NaN  neutral or dissatisfied
2108    116374  Female  ...                      NaN  neutral or dissatisfied
...        ...     ...  ...                      ...                      ...
102067   36729    Male  ...                      NaN  neutral or dissatisfied
102384   71241    Male  ...                      NaN  neutral or dissatisfied
102552   27684  Female  ...                      NaN  neutral or dissatisfied
102960   36787    Male  ...                      NaN                satisfied
103540   45022  Female  ...                      NaN  neutral or dissatisfied

[310 rows x 24 columns]

In [52]:
mode_arrival_dellay

0    0.0
dtype: float64